$color: #777777;
$fonts: proxima-nova, sans-serif;
$header-height: 90px;
$footer-height: 100px;


body, html{
  background: #F6F6F6;
  margin:0;
  height:100%;
}

#wrapper{ 
  min-height:100%;
}

header {
  height: $header-height;
  border-bottom: 1px solid #DDDDDD;
  background: #E0EBFF;
  overflow:auto;
  display:block;
}

main { padding-bottom: $footer-height }

footer{
  height: $footer-height;
  width: 100%;
  border-top: 1px solid #DDDDDD;
  background: #EEEEEE;
  margin-top: -$footer-height;
  display: block;
}
